<div class="layout-column">
  <div class="flex">{{title}}</div>
  <div class="flex">
    <tabset>
        <tab heading='Tab 1'>
            <pre>
              Tab 1 Content
            </pre>
        </tab>
        <tab heading='Tab 2'>
            <pre>
              Tab 2 Content
            </pre>
        </tab>
    </tabset>
  </div>
  <div class="flex">
    <div class="m-t-20">
        <bw-button color="blue" title="Button" icon="check" class="normal"></bw-button>
    </div>
  </div>
</div>
